/* .form {
    padding: 18px 10%;
    border-radius: 30px;
    text-align: center;
    line-height: 1.6;
    box-shadow: 0px 0px 34px 0px #7a7a7a;
    background-color: #f2f3f4d9;
} */

.form__time {
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    text-align: right;
}

.form__gridContainer {
    margin: 18px 0;
    display: grid;
    grid-template-columns: 160px 1fr;
    grid-gap: 4px;
    grid-auto-rows: 30px;
}

@media (max-width: 520px) {
    .form__gridContainer {
        grid-template-columns: 1fr;
    }
}

/* .form__inputDescription {
    align-self: center;
}

.form__inputDescription--myAmount {
    font-weight: 600;
} */

.form__inputField {
    border-radius: 5px;
    color: #2F4858;
    background-color: #fcfcfc;
}

.form__inputField:focus {
    outline-color: hsl(208deg 100% 30%);
}

.form__inputField--myAmount {
    font-weight: 600;
}

.form__inputField--customRate:disabled {
    cursor: not-allowed;
    background-color: transparent;
}

.form__linkParagraph {
    font-size: 14px;
}

.form__link {
    color: hsl(208deg 100% 30%);
    transition: font-weight 0.3s;
}

.form__link:hover {
    font-weight: bold;
}

.form__link:focus {
    font-weight: bold;
    outline: none;
}

.form__link:active {
    color: hsl(208deg 100% 45%);
}

.form__screenReaderOnly {
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

.form__button {
    padding: 12px 50px;
    background-color: hsl(3, 63%, 48%);
    color: #fcfcfc;
    border: none;
    box-shadow: 0px 0px 8px 0px #7a7a7a;
    border-radius: 30px;
    outline: none;
    transition: background-color 0.3s;
}

.form__button:hover {
    background-color: hsl(3deg 100% 50%);
}

.form__button:focus {
    background-color: hsl(3deg 100% 50%);
}

.form__button:active {
    background-color: hsl(3, 63%, 58%);
}

.form__result {
    color: hsl(3, 63%, 48%);
    font-size: 25px;
    font-weight: bold;
    min-height: 40px;
    margin: 0;
    word-break: break-word;
}